<div class="questionnaire-container">
    <div class="questionnaire-header">
        <div class="image-container">
        <img [src]="questionnaire?.image">
        <h1 class="title">{{questionnaire?.title}}</h1>
    </div>
        <p class="description">{{questionnaire?.description}}</p>
    </div>
    <form [formGroup]="form">
        <div class="questionnaire-body"  formArrayName="questions">
            
            @if(questionnaire?.Questions){
                @for(question of questionnaire?.Questions; track question.id){
                    <div class="questionnaire-question">
                    @if(question.questionType && question.questionType.name == 'open'){
                        <h2>{{question.question}}</h2>
                        <textarea class="text-open" #inputOpen (input)="addResponse(question.id, inputOpen.value)"></textarea>
                    }@else if(question.questionType && question.questionType.name == 'rating'){
                        <h2>{{question.question}}</h2>
                        <mat-slider class="custome-slider" min="1" max="5" step="1" showTickMarks discrete [displayWith]="formatLabel">
                            <input matSliderThumb [formControl]="sliderValue" (input)="addResponse(question.id,sliderValue.value!.toString())">
                        </mat-slider>    
                    }@else if(question.questionType && question.questionType.name == 'choice'){
                        <h2>{{question.question}}</h2>
                        @for(questionChoice of question.questionChoices; track questionChoice.id ){
                            <div class="choice-container">
                                <div class="radio">
                                    <input class="radio-input" id="radio-{{questionChoice.id}}" type="radio" name="group" (input)="addResponse(question.id, questionChoice.choice.description, questionChoice.id)">
                                    <label class="radio-btn" for="radio-{{questionChoice.id}}"></label>
                                </div>
                                <h5 class="choice-description">{{questionChoice.choice.description}}</h5>
                            </div>
                        }
                    }
                </div>
                }
            }
        </div>
    </form>
    <div class="questionnaire-buttons">
    <button class="oval-lg spaced-container" type="button" routerLink="/questionrie_menu">Cancel</button>
    <button  class="oval-lg spaced-container" type="button" (click)="submit()">Save</button>
    </div>
</div>