@if(dialog) {
  <div class="dialog-container">
      <div id="dialog-content" [class.visible]="visible">
        @if(emailRecovery){
          <form>
              <h2 class="dialog-title">Password Recovery</h2>
              <p>Write the email of your account and we send you an email with a code</p>
              <input type="text" id="email" name="email" placeholder="Email" formControlName="email" required>
              <div class="button-container">
                  <button class="oval-lg spaced-container" (click)="dialog=false; visible = false;"> Cancel</button>
                  <button class="oval-lg spaced-container" (click)="emailRecovery=false; sentCode=true; visible = false; visible = true;"> Send</button>
              </div>
          </form>
        }@else if(sentCode){
            <form>
              <h2 class="dialog-title">Password Recovery</h2>
              <p>Introduce the code we sent you to your email</p>
              <input type="text" id="code" name="code" placeholder="Code" formControlName="code" required>
              <div class="button-container">
                  <button class="oval-lg spaced-container" (click)="dialog=false; visible = false;"> Cancel</button>
                  <button class="oval-lg spaced-container" (click)="sentCode=false;newPassword=true; visible = false; visible = true;"> Verify</button>
              </div>
          </form>
          <app-loading-spinner></app-loading-spinner>
        }@else if(newPassword){
          <form>
            <h2 class="dialog-title">Password Recovery</h2>
            <p>Renew the password, make sure it is secure and do not share it</p>
            <input type="password" id="password" name="password" placeholder="New password"  formControlName="code" required>
            <input type="password" id="password" name="password" placeholder="Confirm password"  formControlName="code"  required>
            <div class="button-container">
                <button class="oval-lg spaced-container" (click)="dialog=false; visible = false;"> Cancel</button>
                <button class="oval-lg spaced-container" (click)="sentCode=true; visible = false; visible = true;"> Verify</button>
            </div>
          </form>
        }      
      </div>
      <div class="blur-background" [class.visible]="visible"></div>
  </div>
}