<h1 mat-dialog-title>Recuperar contraseña</h1>
<div mat-dialog-content>
  <p>Inserte su correo electrónico para recuperar su contraseña</p>
  <form>
    <!--Campo para el correo electrónico-->
    <mat-form-field>
      <mat-label>Correo Electrónico</mat-label>
      <input matInput placeholder="correo@ejemplo.com" [formControl]="email">
      <mat-icon matSuffix>email</mat-icon>
      @if (email.get('email')?.hasError('pattern')) {
        <mat-error>Intruce un <strong>correo electrónico válido</strong></mat-error>
      }
      @if (email.get('email')?.hasError('required')) {
        <mat-error>El correo electrónico es <strong>obligatorio</strong></mat-error>
      }

    </mat-form-field>
  </form>
  <button mat-button type="submit" [disabled]="!email.valid" [mat-dialog-close]="email"  mat-stroked-button (click)="openSnackBar()" aria-label="Show an example snack-bar">Aceptar
    email
  </button>
  <button mat-button [mat-dialog-close]="false">Cancelar</button>
</div>
