<div class="menu-container">
    <div class="menu">
        <a href="#" class="menu-item">
            <div class="icon-container">
            <mat-icon  class="material-symbols-outlined">home</mat-icon> 
            </div>
            <span >HOME</span>
        </a>		 
        <a href="#" class="menu-item">
            <div class="icon-container">
            <mat-icon  class="material-symbols-outlined">checklist</mat-icon> 
        </div>
            <span >NOTES</span>
        </a>		
        <a href="#" class="menu-item">
            <div class="icon-container">
            <mat-icon  class="material-symbols-outlined">query_stats</mat-icon> 
            </div>
            <span>DATA</span>
        </a>		 
        <a href="#" class="menu-item">
            <div class="icon-container">
            <mat-icon  class="material-symbols-outlined">forum</mat-icon> 
            </div>
            <span >CHAT</span>
        </a>		
        <a href="#" class="menu-item">
            <div class="icon-container">
            <mat-icon  class="material-symbols-outlined">event_available</mat-icon> 
            </div>
            <span>CALENDAR</span>
        </a>		
        <a href="#" class="menu-item">
            <div class="icon-container">
            <mat-icon  class="material-symbols-outlined">admin_panel_settings</mat-icon> 
            </div>
            <span>ADMIN</span>
        </a>		
        <a href="#" class="menu-item">
            <div class="icon-container">
            <mat-icon  class="material-symbols-outlined">settings</mat-icon> 
            </div>
            <span>SETTINGS</span>
        </a>		
        <a href="#" class="menu-item">
            <div class="icon-container">
            <mat-icon  class="material-symbols-outlined">person</mat-icon> 
            </div>
            <span>PROFILE</span>
        </a>
    </div>
</div>

<div class="full-width-panel">
    <img src="assets/image/Default_icon_green_and_blue_the_background_should_be_a_flat_da_0.jpg" alt="Descripción de la imagen" class="full-width-image">
    <h1>QuantumLearn</h1>
</div>

<div id="home-content">
    <div class="ag-format-container">
        <div class="ag-courses_box">
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Academic Organization
              </div>
              <div class="ag-courses-item_date-box">
                Start:
                <span class="ag-courses-item_date">
                  04.11.2022
                </span>
              </div>
            </a>
            
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                AI Progress Tracking
              </div>
      
              <div class="ag-courses-item_date-box">
                Start:
                <span class="ag-courses-item_date">
                  04.11.2022
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Real-Time Communication
              </div>
      
              <div class="ag-courses-item_date-box">
                Start:
                <span class="ag-courses-item_date">
                  04.11.2022
                </span>
              </div>
            </a>
          </div>

</div>

<!-- <div class="cards">
    <a href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank" class="card">
        <div class="wrapper">
            <div class="text">
                <h1>Academic Organization</h1>
            </div>
        </div>
          <img src="assets/image/_9b167128-25b9-4ee8-b37f-26898d73344f.jpg" class="character" />   
      </a>

  <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank" class="card">
        <div class="wrapper">
            <div class="text">
                <h1>AI Progress Tracking</h1>
            </div>
      </div>
      <img src="assets/image/_9b167128-25b9-4ee8-b37f-26898d73344f.jpg" class="character" />   
  </a>
  <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank" class="card">
      <div class="wrapper">
        <div class="text">
            <h1>Real-Time Communication</h1>
        </div>
      </div>
      <img src="assets/image/_9b167128-25b9-4ee8-b37f-26898d73344f.jpg" class="character" />    
  </a>
</div> -->