<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div id="navbar">
<ul>
	<li>
		<a href="#">
			<span class="material-symbols-outlined">home</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="material-symbols-outlined">home</span>
		</a>
	</li>	
	<li>
		<a href="#">
			<span class="material-symbols-outlined">home</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="material-symbols-outlined">home</span>
		</a>
	</li>	
	<li>
		<a href="#">
			<span>Books</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span>Notifications</span>
		</a>
	</li>
	<li>	
		<a href="#">
			<span>Settings</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span>Profile</span>
		</a>
	</li>
</ul>
</div>

<details>
	<summary>How it works<i class="ai-question-fill"></i></summary>
	<div>
		<p>Inside each <code>&lt;a&gt;</code> element there's a hidden (using transform and opacity) <code>&lt;span&gt;</code> containing the text. Like this: </p>
	    <p>The <code>&lt;span&gt;</code> also has a psuedo-element in the shape of a rectangle, but rotated 45 degrees to make it look like a triangle. See the code for more details.</p>
	</div>
</details>