@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400&display=swap');

body.mat-typography {
    margin: 0;
    padding: 0;

}


$font-family: 'Google Sans',  sans-serif;

// Font Family
$body-font: $font-family;

// Font Weights
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 500;
$bold: 700;
$ultra: 800;

// Base Font
$base-font-family: $body-font, sans-serif;
$base-font-size: 14px;
$base-font-weight: $regular;
$base-line-height: 1.6em;

// Colors
$black: #000000;
$dark-gray: rgba($black, 0.8);
$gray: rgba($black, 0.6);
$light-gray: rgba($black, 0.4);
$lighter-gray: rgba($black, 0.2);
$white:  #f9f9f9;
$accent:  #1ca485;

// Form Settings
$max-width: 600px;
$max-height: 400px;
$gutters: 24px;