@import '../../../../styles.scss';



html {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
  color: $gray;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: rgba($black, 0.8);
  width: 100%;
  height: 100%;
}


.form {
  z-index: 15;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  box-sizing: border-box;
  margin: auto;
  margin-top: -2%;
  overflow: hidden;
  height: calc(44vh + 19%);
  width: min(calc(54vh + 5%), 100vw);
  transition: height 0.3s ease-out, box-shadow 0.5s ease-out;
  border: none;

  @media (max-width: 376px) {
    height: calc(56vh + 19%);
  }
  @media (min-width: 700px) and (max-width: 900px) {
    height: calc(40vh + 19%);
  }
  &.active {
    height: calc(59vh + 19%);
    @media (max-width: 376px) {
      height: calc(82vh + 19%);
    }
    @media (min-width: 700px) and (max-width: 900px) {
      height: calc(58vh + 19%);
    }
    transition: height 0.3s ease-out, box-shadow 0.5s ease-out;
    box-shadow: 0 0 40px rgba(28, 164, 133, 0.8),
      0 0 60px rgba(28, 164, 133, 0.6),
      0 0 80px rgba(28, 164, 133, 0.4);
    transition-delay: 0s, 0.1s;
  }

  // Toggle
  &-toggle {
    z-index: 10;
    position: absolute;
    top: 5%;
    right: 5%;
    background: $white;
    width: 3vw;
    height: 3vw;
    min-width: 40px;
    min-height: 40px;
    border-radius: 100%;
    transform-origin: center;
    transform: translate(0, -25%) scale(0);
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.7vw;
      height: 0.3vw;
      min-width: 25.4px;
      min-height: 5.4px;
      background: $accent;
      transform: translate(-50%, -50%);
      border: none;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &.visible {
      transform: translate(0, -25%) scale(1);
      opacity: 1;
    }
  }

  &-arrow {
    z-index: 10;
    position: absolute;
    top: 5%;
    left: 5%;
    background: $white;
    width: 3vw;
    height: 3vw;
    min-width: 40px;
    min-height: 40px;
    border-radius: 100%;
    transform: translate(0, -25%);
    transform-origin: center;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.4s ease;
    border: none;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.9vw;
      height: 0.3vw;
      min-width: 20.4px;
      min-height: 5.4px;
      background: $accent;
      border: none;
    }

    &:before {
      transform: translate(-60%, 30%) rotate(225deg);
    }

    &:after {
      transform: translate(-60%, -170%) rotate(-225deg);
    }

    &.visible {
      transform: translate(0, -25%) scale(1);
      opacity: 1;
    }
  }

  &-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1vh 0 6.0vh;
    position: relative;
    flex-grow: 1;
    border: none;
    @media (max-width: 376px) {
      margin: 0 0 10vh;
    }
    .error-login {
      color: rgb(221, 0, 0);
      font-size: 12px;
      position: absolute;
      top: 100%;
      transition: all 0.7s ease-out;
      font-family: $font-family;
      font-weight: 550;
    }

    .error-register {
      color: rgb(130, 0, 0);
      font-size: 12.5px;
      position: absolute;
      top: 100%;
      transition: all 0.7s ease-out;
      font-family: $font-family;
      font-weight: 550;
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.5em;
      color: #c0c0c0;
      line-height: 2;
      transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
      transform-origin: 0 0;
      cursor: text;
      pointer-events: none;
      border: none;

      .two & {
        color: $white;
      }
    }

    input:focus+label {
      font-size: 12px;
      cursor: pointer;
      top: 0;
    }

    input {
      font-size: 1.5em;
      width: 100%;
      box-sizing: border-box;
      padding: 0.5em;
      border: none;
      border-bottom: 2px solid #c0c0c0;
      background: transparent;
      outline: none;
      transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
      z-index: 1;
      position: relative;
      user-select: none;

      &:focus {
        border-bottom: 2px solid #1ca485;
      }

      &:focus~label,
      &:valid~label {
        transform: scale(0.8) translateY(-1.5em);
        color: #1ca485;
      }

      .two & {
        color: $white;

        &:focus {
          border-bottom: 2px solid $white;
        }

        &:focus~label,
        &:valid~label {
          transform: scale(0.8) translateY(-1.5em);
          color: $white;
        }
      }

    }

    button {
      outline: none;
      margin: auto;
      background: $accent;
      width: 145px;
      border: none;
      border-radius: 20px;
      padding: 12px 24px;
      color: $white;
      font-family: inherit;
      font-size: inherit;
      font-weight: $semibold;
      line-height: inherit;
      text-transform: uppercase;
      cursor: pointer;
      white-space: nowrap;
      transition: background 0.3s ease, border 0.3s ease, box-shadow 0.1s ease;

      &:hover {
        background: lighten($accent, 10%);
      }

      &:active {
        box-shadow: 0 0 10px lighten($accent, 10%);
      }

      .two & {
        background: $white;
        color: $accent;

        &:hover {
          background: white;
        }

        &:active {
          box-shadow: 0 0 10px lighten(white, 10%);
        }

      }
    }

    .form-remember {
      font-size: 12px;
      font-weight: $regular;
      letter-spacing: 0;
      text-transform: none;
      border: none;
    }

    .form-link {
      color: $accent;
      font-size: 12px;
      text-decoration: none;
      cursor: pointer;
      display: block;
      transition: all 0.2s ease;
      border: none;

      &:hover {
        color: lighten($accent, 15%);
      }
    }

  }

  // Panel
  &-panel {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    box-sizing: border-box;
    height: 100%;
  border: none;

    .content {
      flex-grow: 1;
      border: none;
    }

    // Panel One
    &.one {
      &:before {
        @extend .overlay;
        content: '';
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
        background-color: rgb(255, 255, 255);
        z-index: 2;
        border: none;
      }

      &.hidden {
        &:before {
          display: block;
          visibility: visible;
          opacity: 1;
          border: none;
        }
      }
    }

    // Panel Two
    &.two {
      z-index: 5;
      position: absolute;
      top: 0;
      visibility: hidden;
      height: 0;
      left: 100%;
      background: $accent;
      width: 100%;
      min-height: 100%;
      padding: 60px 60px 60px 60px;
      transition: 0.3s ease;
      border: none;


      &.active {
        visibility: visible;
        height: 100%;
        left: 0%;
      }

      .form-register-inputs {
        position: relative;
        background-color: $accent;
        opacity: 1;
        visibility: visible;
        max-height: 1000px;
        overflow: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease, max-height 0.3s ease;
        border: none;

        &.hidden {
          visibility: hidden;
          opacity: 0;
          max-height: 0;
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $accent;
          visibility: hidden;
          transition: visibility 0.3s ease;
          border: none;
        }

        &.hidden:before {
          visibility: visible;
        }
      }

      .roles-group {
        overflow: visible; 
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        border: none;

        &.active {
          opacity: 1;
          visibility: visible;
          border: none;
        }

        .role-option {
          border: none;
          border-radius: 10px; 
          box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 15px;
          width: auto;
          height: auto;
          position: relative; 
          overflow: auto;
          display: inline-block;
          cursor: pointer;
          user-select: none;
          margin: auto;
          margin-bottom: 1vh;
          transition: all 0.2s ease-out; 
          @media (max-width: 425px) {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            min-width: 120%; 
          }
          h3 {
            border: none;
            font-size: 24px; 
            margin: 10px 15px 10px 20px; 
            color: $white;
            font-family: $font-family;
            font-weight: bold;
          }

          p {
            border: none;
            font-size: 14px; 
            margin: 10px 15px 10px 20px; 
            color: $white;
            font-family: $font-family;
          }

          &:hover {
            background-color: #30bb9b;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.1),
              0 0 20px rgba(255, 255, 255, 0.1),
              0 0 30px rgba(255, 255, 255, 0.1),
              0 0 40px rgba(255, 255, 255, 0.1);
          }

          &:active {
            background-color: #20806e;
          }

          &.selected {
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.1),
            0 0 20px rgba(255, 255, 255, 0.1),
            0 0 30px rgba(255, 255, 255, 0.1),
            0 0 40px rgba(255, 255, 255, 0.1);
            background-color: #49ccad;
            border: none;
          }
        }
      }
    }
  }

  // Header
  &-header {
    margin: 0 0 40px;
    border: none;

    h1 {
      border: none;
      font-family: $font-family;
      font-size: 4vh;
      text-align: center;
      color: $accent;
      margin-bottom: 0.1rem;
      font-weight: bold;
      padding-bottom: 2vh;

      .two & {
        position: relative;
        z-index: 40;
        color: $white;
      }
    }
  }

}