<div id="notification-container">
    @for(notification of notifications; track notification){
<div id="notification-bar" class="regular closable" [@notificationAnimation]>
    <h2 class="title">{{notification.title}}</h2>
    <div class="content-wrapper">
        <div class="text-wrapper">
            <div class="headline-text">
                <p><span>{{notification.message}}</span></p>
            </div>
        </div>
        <!-- @if(showAdditionalInfo){
        <p>{{additionalInfo}}</p>
        }
        <mat-icon class="expand-icon" (click)="showAdditionalInfo = !showAdditionalInfo">
            <div class="rotate" [class.reverse]="showAdditionalInfo">
              expand_more
            </div>
          </mat-icon> -->
    </div>
    <div class="close-wrapper">
        <a (click)="onClose()" class="close-icon">✖</a>
    </div>
</div>
    }
</div>