@if(dialog) {
  <div class="dialog-container">
      <div id="dialog-content" [class.visible]="visible">
          <form>
              <h2 class="dialog-title">Password Recovery</h2>
              <p>Write the email of your account and we send you an email with a code</p>
              <input type="text" id="email" name="email" placeholder="Email" formControlName="email" required>
              <div class="button-container">
                  <button class="oval-lg spaced-container" (click)="dialog=false; visible = false;"> Cancel</button>
                  <button class="oval-lg spaced-container" (click)="dialog=false; visible = false;"> Send</button>
              </div>
          </form>
      </div>
      <div class="blur-background" [class.visible]="visible"></div>
  </div>
}
  