<div class="outer-container">

<div class="menu-container">
    <div class="menu">
        <a href="#" class="menu-item">
            <div class="icon-container">
            <mat-icon  class="material-symbols-outlined">home</mat-icon> 
            </div>
            <span>HOME</span>
        </a>		 
        <a routerLink="/notes" class="menu-item">
            <div class="icon-container">
            <mat-icon  class="material-symbols-outlined">checklist</mat-icon> 
        </div>
            <span >NOTES</span>
        </a>		
        <a routerLink="/graph" class="menu-item">
            <div class="icon-container">
            <mat-icon  class="material-symbols-outlined">query_stats</mat-icon> 
            </div>
            <span>DATA</span>
        </a>		 
        <a routerLink="/questionrie_menu" class="menu-item">
            <div class="icon-container">
            <mat-icon  class="material-symbols-outlined">assignment</mat-icon> 
            </div>
            <span>QUESTIONAIRES</span>
        </a>		
        <a [routerLink]="link" class="menu-item">
            <div class="icon-container">
            <mat-icon  class="material-symbols-outlined">person</mat-icon> 
            </div>
            <span>PROFILE</span>
        </a>
    </div>
</div>
<!-- @if(dataLoaded==true){ -->
<div class="data-container">
    <h1 id="title">Your data</h1>
    <!-- <div style="width: 500px;"><canvas id="dimensions"></canvas></div><br/> -->
    <div style="width: 800px;"><canvas id="acquisitions"></canvas></div>

    <!-- <script type="module" src="dimensions.js"></script> -->
    <script type="module" src="acquisitions.js"></script>
    <div class="tips">
        <h2>Tips for your improvement</h2>
        <div class="content"> 
            <!-- <p>{{progress}}</p> -->
             <p>cafnsdlfjnasdifunasdofpaoifnaspodfnpasodfnpaosdinfpaosdnfpasoidnfasodfnapsoidfnaposidfnapsodifnapsoidfnapsoidfnapsoidfnaspoidfn</p>
        </div>
    </div>
    <!-- <div class="statistics">
        <h2>Your statistics the last month</h2>
        <div class="content"> 
            <p>"lkzjsnvlñsaklñasdkvnañlskdnvñalsdkvn añsldkv aslkdv nasñldvknasñdlkvnasldkvnañsldkvnañsldkvnñslkvnañslkdvnañslkdnvñaslknvañlsdkvnñsldkvnk"</p>
        </div>
    </div>
    <div class="observations">
        <h2>Things to highlight</h2>
        <div class="content"> 
            <p></p>
        </div>
    </div> -->
</div>
<!-- } -->
</div>

